body {
  width: 320px;
  height: 550px;
  padding: 10px;
  background-color: #212529;
  color: #ffffff;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 2rem; /* Se redujo el espacio superior */
}

h1 {
  color: #ffffff;
  font-size: 1.5rem; /* Se redujo el tamaño de fuente */
}

h3 {
  color: #ffc107;
  margin-top: 0.25rem; /* Se redujo el espacio superior */
  font-size: 1rem; /* Se redujo el tamaño de fuente */
}

.card {
  background-color: #ffffff;
  padding: 0.4rem; /* Se redujo el padding */
  margin-bottom: 0.4rem; /* Se redujo el espacio inferior */
}

.card-title {
  color: #160a6e;
  margin-bottom: -1rem; /* Se redujo el espacio inferior */
  font-size: 1rem; /* Se redujo el tamaño de fuente */
  margin-left: 25px;
}

.card-value {
  color: #17a2b8;
  font-weight: bold;
  text-align: right;
  margin-bottom: 0.25rem; /* Se redujo el espacio inferior */
  font-size: 0.8rem; /* Se redujo el tamaño de fuente */
}

.valor {
  color: rgb(209, 118, 0);
  display: inline;
  font-size: 0.8rem; /* Se redujo el tamaño de fuente */
}

.currency {
  font-size: 0.6em;
}

.valorP {
  color: green;
  display: inline;
  font-size: 0.8rem; /* Se redujo el tamaño de fuente */
}

.promedio {
  color: #0000FF; /* Código hexadecimal para azul */
  font-weight: bold;
  font-size: 0.8rem; /* Se redujo el tamaño de fuente */
}



.card-content {
  display: flex;
}

.grafico {
  order: 1;
  width: 100px;
  margin-top: 20px;
}

.card-values {
  order: 2;
  margin-left: 10px;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.button {
  flex-grow: 1;
  background-color: #ffffff;
  color: #160a6e;
  margin-right: 0.5rem;
  border: none;
  font-size: 0.8rem;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  background-color: #71A6D8;
  color: #ffffff;
}

.bandera{
  width: 20px;
  position: fixed;
}

#calculadora {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #71A6D8;

}

#calculadora input[type="text"],
#calculadora select {
  margin-bottom: 10px;
}

#calculadora button {
  display: block;
  margin-top: 10px;
}

#calculadora-text {
  position: fixed;
  top: 7px;
  left: 40px;
  font-size: 20px;
  color: #71A6D8;
  display: flex;
}

select{
  background-color: #85a9ca;
}

input{
  background-color: #85a9ca;
}

.salir .btn {
  background-color: #71A6D8;
  border-color: #000000;
  color: #ffffff;
}

label{
  color: #71A6D8;
}

h2{
  color: #71A6D8;
}

#botonCalcular #botonCalcular2{
  background-color: #71A6D8;
  border-color: #000000;
  color: #ffffff;
}

.btn-primary{
  background-color: #71A6D8;
  border-color: #000000;
  color: #ffffff;
}

#resultado{
  color: #2d8ce6;
  font-size: 14px;
}

#resultado2{
  color: #2d8ce6;
  font-size: 14px;
}

.nav{
  margin-top: 0px;
  margin-bottom: 0px;
}

i{
  background-color: #71A6D8;
  color: white;
}

.caso{
  background-color: #85a9ca;
}

.redes{
  margin-top: 20px;
}

.redes:hover {
  background-color: #71A6D8;
  color: #ffffff;
}

.creditos{
  top: 70%;
  width: 260px;
}

#creditos {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  padding-top: 300px;
  background-color: #ffffff;
  border: 1px solid #71A6D8;
}



.button.active {
  background-color: #85a9ca;
  color: white;
}

.small-message {
  font-size: 12px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.alert-success{
  background-color: rgb(1, 37, 1);
  color: #71A6D8;
  font-size: 16px;
  
}


.alert-danger{
  background-color: rgb(51, 2, 2);
  color: #71A6D8;
  font-size: 16px;
}